{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Leksemaro{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.9.7/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.9.7/dist/cdn/beer.min.js"></script>
    <script type="text/javascript" src="{% static 'jquery-3.7.1.min.js' %}"></script>
    {% block jquery_plugins %}{% endblock jquery_plugins %}
    <script type="module" src="{% static 'registration/script.js' %}"></script>
    <link href="{% static 'style.css' %}" rel="stylesheet"> 
</head>
<body>
    <header class="fill bottom-margin">
        <nav>
            {% block left_nav_button %}
            <a class="button circle transparent" href="{% url 'lexicon:index' %}">
                <i>home</i>
            </a>
            {% endblock left_nav_button %}
            <h1 class="max center-align small">{% block header_title %}Leksemaro{% endblock header_title %}</h1>
            <div>
                <button class="circle transparent" data-ui="#account-menu">
                    <i>account_circle{% if not user.is_authenticated %}_off{% endif %}</i>
                    {% comment %} <img class="responsive" src="/favicon.png"> {% endcomment %}
                </button>
                {% if user.is_authenticated %}
                <dialog class="right" id="account-menu">
                    <h5>{{user}}</h5>
                    <nav class="right-align">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button class="error" type="submit"><i>logout</i> Выйти</button>
                    </form>
                    </nav>
                </dialog>
                {% endif %}
            </div>
        </nav>
    </header>
    <main class="responsive">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>