<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Leksemaro{% endblock title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.9.7/dist/cdn/beer.min.css" rel="stylesheet">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.9.7/dist/cdn/beer.min.js"></script>
</head>
<body>
    <header class="fill">
        <nav>
            {% block left_nav_button %}
            <a class="button circle transparent" href="">
                <i>add</i>
            </a>
            {% endblock left_nav_button %}
            <h1 class="max center-align small">{% block header_title %}Leksemaro{% endblock header_title %}</h1>
            <button class="circle transparent">
                <img class="responsive" src="/favicon.png">
            </button>
        </nav>
    </header>
    <main class="responsive">
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>