{% extends "base_item.html" %}

{% block title %}Leksemaro &mdash; {% block header_title %}{{language.name}}{% endblock header_title %}{% endblock title %}

{% block back_url %}{% url "lexicon:index" %}{% endblock back_url %}

{% block content %}
<a href="{% url "lexicon:quiz" language.id %}" class="button">
    Повторение лексики
    {% with to_repeat=language.words_to_repeat %}{% if to_repeat %}
    <div class="badge border none">{{to_repeat}}</div>
    {% endif %}{% endwith %}
</a>
<h2>
    Части речи
</h2>
{% with word_classes=language.word_classes %}
{% if word_classes %}
<div class="grid">
    {% for word_class in word_classes %}
    <article class="s6 m4 l3">
        <h5>{{word_class.name}}</h5>
        <p>Слов: {{word_class.word_count}}</p>
        <nav>
            <a class="button fill" href="{% url "lexicon:word_class" word_class.id %}">
                Слова
            </a>
        </nav>
    </article>
    {% endfor %}
    <article class="no-padding s6 m4 l3 center-align middle-align">
        <a href="{% url 'lexicon:add_word_class' language.id %}" class="padding">
            <h5>
                <i>add</i> Добавить
            </h5>
        </a>
    </article>
</div>
{% else %}
<div class="center-align">
    <p>
        Пока нет частей речи
        <br>
        <a class="link" href="{% url 'lexicon:add_word_class' language.id %}">Создать</a>
    </p>
</div>
{% endif %}
{% endwith %}
{% endblock content %}