{% extends "base_item.html" %}

{% block title %}
    Leksemaro &mdash; {% block header_title %}{{word_class.language.name}}, {{word_class.name}}{% endblock header_title %}
{% endblock title %}

{% block back_url %}{% url "lexicon:language" word_class.language.id %}{% endblock back_url %}

{% block content %}
<h2>
    Слова
</h2>
{% with lexemes=word_class.lexeme_set.all %}
<div class="grid">
    {% if lexemes %}
    {% for lexeme in lexemes %}
    <article class="round fill s6 m4 l3 center-align">
        <h5>{{lexeme.word}}</h5>
        {% if lexeme.meaning_set.all %}
        <ol>
        {% for meaning in lexeme.meaning_set.all %}
        <li>{{meaning.translation}}</li>
        {% endfor %}
        </ol>
        {% endif %}
    </article>
    {% endfor %}
    {% endif %}
    <a href="{% url "lexicon:add_lexeme" word_class.id %}" class="padding round fill elevate s6 m4 l3">
        <h5><i>add</i></h5>
    </a>
</div>
{% comment %} {% else %}
<div class="absolute center">
    <p>Пока нет слов</p>
</div> {% endcomment %}
{% endwith %}
{% endblock content %}